.resto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(50,50,50);
  background: radial-gradient(circle, rgba(50,50,50,1) 0%, rgba(59,16,113,1) 71%);
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.showCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
}

.card img {
  border: 0;
  height: 200px;
  width: 400px;
}

.card h1, p {
  color: white;
}